<h1>Sign in</h1>

<div class="container">
  <%= notice %>
  <p>
  <%= form_tag session_path do %>
    <%= label_tag 'username' %> <br> 
    <%= text_field_tag :username, params[:username] %></br>
    <%= label_tag 'password' %> <br>
    <%= password_field_tag :password, params[:password] %></br> 
    <%= submit_tag "Log in" %>
  <% end %>
  </p>   
  <p>Or <span class="rmv"><b><%= link_to 'create account', new_user_path %></b></span></p> 
</div>
<div class="naviend"></div>
