<p id="notice"><%= notice %></p>


<h1><%= @user.username %></h1>

<div>
<p>
  <h2>Events registered to:</h2>
  <ul>
    <% @user.events.each do | event | %>
      <li><%= link_to event.name, event %> <%= event.time %></li>
    <% end %>
  </ul>
</p>

<p>
  <h2>Adminstrated events:</h2>
  <ul>
    <% @user.adminstrated_events.each do | event | %>
      <li><%= link_to event.name, event %> <%= event.time %></li>
    <% end %>
  </ul>
</p>
<% if @user == current_user %>
  <h3>Messages sent to events:</h3>

  <table>
    <tbody>
      <% @user.messages.each do |msg| %>
        <tr>
          <td><%= msg.timestamp %></td>
          <td><%= link_to msg.event, msg.event %></td>
          <td><%= msg.msg %></td>
          <td><span class="rmv"><%= link_to 'destroy message', msg, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>

<% if current_user %>
  <%= link_to 'Change password', edit_user_path(@user) %> |
  <%= link_to 'Destroy account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>  |
<%= link_to 'Back', users_path %> 

