<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Info:</strong>
  <%= @event.info %>
</p>

<p>
  <strong>Attenders:</strong>
  <ul>
  <% @event.attenders.each do | att | %>
    <li><%= att.username %></li>
  <% end %>
  </ul>
</p>


<% if current_user %>
  <p>
  <% if @event.attenders.include?current_user %>
    <%= form_for(@attendance, method: :delete) do |f| %>
      <%= f.submit value:"leave the event" %>
    <% end %>
  <% else %>
    <%= form_for(@attendance) do |f| %>
      <%= f.hidden_field :event_id %>
      <%= f.submit value:"join" %>
    <% end %>
  <% end %>  
  </p>
<% end %>  

<p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<%= link_to 'Delete event', event_path, method: :delete, data: { confirm: 'Are you sure?' } %> 
