<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>
<div class="infobox">
<p>
  <strong>Date:</strong>
  <%= @event.event_date %>
<br>
  <strong>Time:</strong>
  <%= @event.event_time %>
</p>
<% if current_user and @event.attenders.include?current_user %>
  <br>
    <strong>Place:</strong>
    <%= @event.place %>
  </p>
  <p>
    <strong>Info:</strong>
    <%= @event.info %>
  </p>
</div>
  <p>
    <strong>Attenders:</strong>
    <ul>
    <% @event.attenders.each do | att | %>
      <li><%= att.username %></li>
    <% end %>
    </ul>
  </p>

  <p>
    <strong>Admins:</strong>
    <ul>
    <% @event.admins.each do | a | %>
      <li><%= a.username %></li>
    <% end %>
    </ul>
  </p>

<div class="divbox">
  <p>
  <strong>Messages:</strong>


  <table>
  <% @event.messages.each do | m | %>
    <tr>
      <td><%= m.user.username %>:</td> 
      <td><%= m.msg %></td>  
      <td><%= m.timestamp %></td> 
      <td>
        <% if m.user == current_user %>
          <%= link_to 'X', m, method: :delete, data: {confirm: 'remove message?'}, class:'rmv' %> 
          <!---<%= form_for(m, method: :delete) do |f| %>
            <%= f.submit value:"delete"%>
          <% end %>--> 
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
  <%= form_for(@message) do |f| %>
    
      <%= f.hidden_field :event_id %>
      <%= f.hidden_field :user_id %>
      <%= f.label :msg %><br>
      <%= f.text_area :msg %>
      <%= f.hidden_field :timestamp %>
      <%= f.submit value:"submit" %>

  <% end %>  
  </p>
<% end %>  


<% if current_user %>
  <p>
  <% if @event.attenders.include?current_user %>
    <%= form_for(@attendance, method: :delete) do |f| %>
      <%= f.submit value:"leave the event" %>
    <% end %>
  <% else %>
    <%= form_for(@attendance) do |f| %>
      <%= f.hidden_field :event_id %>
      <%= f.submit value:"join" %>
    <% end %>
  <% end %>  
  </p>
<% end %>  

<p>
</div>
<%= link_to 'Back', events_path %> 
<% if current_user and @event.admins.include?current_user %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Delete event', event_path, method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>  


