<!DOCTYPE html>
<html>
<head>
  <title>Miitit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navibar">
    <%= link_to 'Home', root_path %>
    <% if current_user %>
      <%= link_to current_user, current_user %>
      <%= link_to 'Sign out', signout_path, method: :delete, data: { confirm: 'Log out?' } %>
      <%= link_to 'New event', new_event_path %>
    <% else %>             
      <%= link_to 'Sign in', signin_path %>
      <%= link_to 'Register', signup_path %> 
    <% end %>
  </div>
<%= yield %>

</body>
</html>
